<nav>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="arrays">Arrays &amp; Linked Lists</a></li>
        <li><a href="stacks">Stacks &amp; Queues</a></li>
        <li><a href="trees">Trees &amp; Graphs</a></li>
        <li><a href="hash-tables">Hash Tables</a></li>
    </ul>
</nav>