<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
<header>
    <h1>Data Structures</h1>
</header>
<%- include('partials/nav') %>
<main>
    <h2><b>Introduction to Data Structures</b></h2>
    <p>Data structures are fundamental concepts in computer science that involve organizing and storing data in a computer so that it can be accessed and modified efficiently. They provide a means to manage large amounts of data for various uses such as large databases and internet indexing services. For more information, visit <a href="https://www.simplilearn.com/tutorials/data-structure-tutorial/what-is-data-structure" target="_blank">this overview of data structures</a>.</p>
    <h2>Why Are Data Structures Important?</h2>
    <ul>
        <li><strong>Efficiency:</strong> Optimized data structures enhance the efficiency of algorithms.</li>
        <li><strong>Reusability:</strong> Standard data structures can be reused across different applications.</li>
        <li><strong>Abstraction:</strong> They provide a way to manage complexity through abstraction.</li>
    </ul>
    <div class="types-of-data-structures">
        <div class="types-text">
            <h2>Types of Data Structures</h2>
            <h3>1. Linear Data Structures</h3>
            <p>Elements are arranged sequentially.</p>
            <ul>
                <li>Arrays</li>
                <li>Linked Lists</li>
                <li>Stacks</li>
                <li>Queues</li>
            </ul>
            <h3>2. Non-Linear Data Structures</h3>
            <p>Elements are not in sequence.</p>
            <ul>
                <li>Trees</li>
                <li>Graphs</li>
            </ul>
        </div>
        <div class="types-image">
            <img src="img/data_structures.jpg" alt="Types of Data Structures">
        </div>
    </div>
    <h2>Key Operations</h2>
    <ul>
        <li><strong>Insertion:</strong> Adding a new data item.</li>
        <li><strong>Deletion:</strong> Removing an existing data item.</li>
        <li><strong>Traversal:</strong> Accessing each data item once to process it.</li>
        <li><strong>Searching:</strong> Finding a particular data item.</li>
        <li><strong>Sorting:</strong> Arranging data items in a specified order.</li>
    </ul>
</main>
<%- include ('partials/footer') %>
</body>
</html>